<div class="row">
    <div class="col-sm">
        <h2>Marvel Entertainment</h2>
        <p>Marvel Entertainment, LLC, a wholly-owned subsidiary of The Walt Disney Company, is one of the world's most prominent character-based entertainment companies, built on a proven library of over 8,000 characters featured in a variety of media over seventy years.  Marvel utilizes its character franchises in entertainment, licensing and publishing.</p>
        <blockquote class="blockquote border rounded p-3 bg-light">
            <p>With great power there must also come ... great responsibility! </p>
            <footer class="blockquote-footer">Stan Lee,
            <cite title="Source Title">Amazing Fantasy, #15, August 1962</cite></footer>
        </blockquote>
    </div>
    <div class="col-sm">
        <div class="card rounded">
            <div class="card-header bg-info">
                <h5 class="text-white">Corporate Headquarters</h5>
            </div>
            <div class="card-body">
                <address>Marvel Entertainment, LLC<br/>
                    135 W. 50th Street<br/>
                    New York, NY 10020</address>
            </div>
        </div>
    </div>
</div>
