<div class="container">
    <h1>Comics Library</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="media">
                <img class="mr-3" alt="Comic cover" src="<!-- image should be set inside src attribute -->">
                <div class="media-body">
                    <h2 class="media-heading"><!-- title should go here -->
                        <span class="badge badge-danger">#<!-- issue should go here --></span>
                        <span class="badge badge-pill badge-secondary">$<!-- price should go here --></span>
                    </h2>
                    <p><!-- description should go here --></p>
                </div>
            </div>
        </div>
    </div>
</div>


