<div class="row">
   <h2>{{ comic.title }}
       <span class="badge badge-danger">#{{ comic.issueNumber }}</span>
       <span class="badge badge-pill badge-secondary" *ngIf="comic.prices[0].price > 0">${{ comic.prices[0].price }}</span>
   </h2>
</div>
<div class="row">
    <div class="col-sm-4">
        <p>{{ comic.description }}</p>
    </div>
    <div class="col-sm-4" *ngFor="let image of comic.images">
        <div class="thumbnail">
            <img class="img-fluid" src="{{ image.path }}.{{ image.extension }}">
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Character(s) <span class="badge badge-pill badge-secondary">{{ comic.characters.available }}</span>
            <li class="list-group-item" *ngFor="let character of comic.characters.items">{{ character.name }}</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Stories(s) <span class="badge badge-pill badge-secondary">{{ comic.stories.available }}</span>
            <li class="list-group-item" *ngFor="let story of comic.stories.items">{{ story.name }}</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Creator(s) <span class="badge badge-pill badge-secondary">{{ comic.creators.available }}</span>
            <li class="list-group-item" *ngFor="let creator of comic.creators.items">
              <span class="badge badge-info">{{ creator.role }}</span>{{ creator.name }}
            </li>
        </ul>
    </div>
</div>
